/* RESPONSIVE  */

@media screen and (max-width: 419px ) {

          * {
            font-size: 20px;
            max-width: 419px;
          }

          #lezioni .row > .left, #lezioni .row > .right{
            width: 100%;
            float: none;
          }

          #steps .row > .left,
          #steps .row > .central,
          #steps .row > .right{
            float: none;
            width: 100%;
          }

          h1 {
            font-size: 30px;
          }

          h3{
            font-size: 25px;
          }

          .row {
            width: 100%;
          }

          #lezioni .row > .left, #lezioni .row > .right {
            margin-bottom: 20px;
            border-bottom: 1px solid black;
            padding-bottom: 30px;
          }

            #steps .row > .left, #steps .row > .central, #steps .row > .right {
              margin-bottom: 20px;
              border-bottom: 1px solid black;
              padding-bottom: 30px;
            }

            #why .row > .third {
                margin-bottom: 40px;
                border-bottom: 3px solid grey;
                padding-bottom: 30px;
            }

            img {
              width: 50%;
              height: 50%;
              text-align: center;
            }

            #why .row img {
              padding: 0px;
          }







}
